body{
    background-color:lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-image: url("myimage/time.jpg");
  }
h1{
    text-shadow: 2px 2px;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right; 
    color: white;
}
.contents{
display: flex;
justify-content:center;
text-align-last: right;
padding:right;
position:right; 
}

#content2{
    text-align: center;
}
img {
  width: 500px;
  height: auto;
  padding: center;

  }
  li {
    display: block;
    background-color: white;
  }
  .nav {
    overflow: hidden;
    text-align: center;
    padding-left: 400px;
    background-color: white;
  }
  
  .nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    background-color: white;
  }
  
  .nav a:hover {
    background-color: #ddd;
  
  }
  
  .nav a.active {
    background-color: #04AA6D;
    color: white;
  }
  #head{
    padding-right: 25%;
    margin-top: 12%;
  }
  #footer{
    background-color:white;
    padding: 50px;
    color: goldenrod;
    text-align: center;
    font-size: medium;
  }
  